<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"><span
                class="navbar-toggler-icon"></span></span></button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/home">Home</a>
                <a class="nav-item nav-link" href="https://www.climateactionoxfordshire.org.uk/">Blog</a>
                <a class="nav-item nav-link" href="/home">Notifications</a>
                <a class="nav-item nav-link" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</nav>
